:root {
    --primary: #FF7A00; /* primary color, used for most text */
    --background-color: #FFF8F1;
    --orange1: #FFECDB;
    --dark-grey: #2E2E2E;
  }
    
  
  * {
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
    margin: 0;
    padding: 0;
  }

  body {
    background-color: var(--background-color);
  }

  .center-hori {
    text-align: center;
  }

  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchQuery {
    width: 100%;
    border: 2px solid var(--primary);
    padding: 10px;
    height: 20px;
    border-radius: 25px;
    outline: none;
  }
  
  .searchQuery:focus{
    color: var(--primary);
  }
  
  .searchButton {
    position: absolute;
    top: 20%;
    right: 3%;
    width: 40px;
    height: 36px;
    border: 0px transparent;
    background: transparent;
    text-align: center;
    color: var(--background-color); /*background color*/
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .middle{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .app-name{
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 72px;
      text-align: center;
  }


   /* tap mode button */
   .tap-mode-off{
    border: 3px solid var(--primary);
    padding: 10px;
    margin-top: 20px;
    background-color: inherit;
    font-weight: bold;
  }
  .tap-mode-off:hover{
    cursor: pointer;
    background-color: var(--primary);
    color: white;
  }

  .tap-mode-on{
    border: 3px solid var(--primary);
    padding: 10px;
    margin-top: 20px;
    background-color: var(--primary);
    font-weight: bold;
    color: white;
  }
  .tap-mode-on:hover{
    cursor: pointer;
    background-color: inherit;
    color: var(--primary);
  }

  .hidden {
    display : none;
  }

  .header{
      text-align: center;
  }
  
  .header h1{
      position: relative;
      display: inline;
      font-style: normal;
      font-weight: normal;
      font-size: 64px;
      line-height: 96px;
      text-align: center;
  }

  .header #bookmark{
    text-align: center;
    /* padding-left: 50px; */
    margin-left : 50px;
    /*float: right;*/
  }

  h3{
      text-align: center;
      font-weight: bold;
      margin-top: 80px;
  }

  #clear-checkboxes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 40px;
  }

  /*-- custom checkbox style --*/
  
  input[class="ingredients-custom-checkbox"] + label,
  input[class="ingredients-custom-checkbox"] + label::before
  {
      display: inline-block;
      vertical-align: middle;
      
  }

  input[class="ingredients-custom-checkbox"]
  {
      opacity: 0; /*hide the actual checkbox*/
      position: absolute;
      transform: scale(2);
  }

  input[class="ingredients-custom-checkbox"]:hover
  {
    cursor: pointer;
  }
    
  input[class="ingredients-custom-checkbox"] + label::before
  {
    /*custom new checkbox*/
      content: "";
      width: 15px;
      height: 15px;
      margin: 0 4px 0 0;
      line-height: 14px;
      text-align: center;
      border: solid 3px var(--primary);
  }
  
    input[class="ingredients-custom-checkbox"]:checked + label::before
  {
      content: "\2714"; /* tick sign */
      font-size: 15px;
  }

  label{
    color: black;
  }
  /*-----------------------------------*/
  
  #instructions > ol > li{
    color: black;
  }

  #ingredients-list{
      /* text-align: center; */
      font-style: normal;
      font-weight: normal;

  }

  #ingredients-list > button{
    border: 0;
    background-color: inherit;
    font: inherit;
    text-align: center;
    padding: 20px;
  }

  #ingredients-list> button:hover{
    cursor: pointer;
    background: #eee;
  }