  :root {
    --primary: #FF7A00; /* primary color, used for most text */
    --background-color: #FFF8F1;
    --orange1: #FFECDB;
    --dark-grey: #2E2E2E;
  }
    
  
  * {
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
    margin: 0;
    padding: 0;
  }

  body {
    background-color: var(--background-color);
  }

  .center-hori {
    text-align: center;
  }

  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchQuery {
    width: 100%;
    border: 2px solid var(--primary);
    padding: 10px;
    height: 20px;
    border-radius: 25px;
    outline: none;
  }
  
  .searchQuery:focus{
    color: var(--primary);
  }
  
  .searchButton {
    position: absolute;
    top: 20%;
    right: 3%;
    width: 40px;
    height: 36px;
    border: 0px transparent;
    background: transparent;
    text-align: center;
    color: var(--background-color); /*background color*/
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .middle{
    width: 40%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

   .category-cards--wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    justify-content: center;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    margin-top: 200px;

  
} 
@media screen and (max-width: 700px) {
  .category-cards--wrapper{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 10px;
      margin-left: 20px;
      margin-right: 20px;
  }

}


@media screen and (max-width: 500px) {
  .category-cards--wrapper{
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 1fr);

  }

}


@media screen and (min-height: 1000px) {
  .category-cards--wrapper{
    margin-top: 50%;
  }

}
@media screen and (max-height: 450px) {
  .category-cards--wrapper{

      gap: 10px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 75px;
  }


}