  :root {
    --primary: #FF7A00; /* primary color, used for most text */
    --background-color: #FFF8F1;
    --orange1: #FFECDB;
    --dark-grey: #2E2E2E;
  }
    
  
  * {
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
    margin: 0;
    padding: 0;
  }

  body {
    background-color: var(--background-color);
  }

  .center-hori {
    text-align: center;
  }

  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchQuery {
    width: 100%;
    border: 2px solid var(--primary);
    padding: 10px;
    height: 20px;
    border-radius: 25px;
    outline: none;
  }
  
  .searchQuery:focus{
    color: var(--primary);
  }
  
  .searchButton {
    position: absolute;
    top: 20%;
    right: 3%;
    width: 40px;
    height: 36px;
    border: 0px transparent;
    background: transparent;
    text-align: center;
    color: var(--background-color); /*background color*/
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .middle{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


   /* tap mode button */
   .center-hori > button{
    border: 3px solid var(--primary);
    padding: 10px;
    background-color: inherit;
    font-weight: bold;
  }
  .center-hori > button:hover{
    border-color: white;
    cursor: pointer;
  }

  .hidden {
    display : none;
  }
 